
# Server    
PORT=your-default-port

# Database Configuration
DB_URL=jdbc:postgresql://your-db-url
DB_USERNAME=your-username
DB_PASSWORD=your-password

#Redis Cloud
REDIS_HOST=your-host
REDIS_PORT=your-port
REDIS_PASSWORD=your-password

# JWT Security
JWT_SECRET=your-secret-key
JWT_EXPIRATION_MS=your-expriration-ms
JWT_REFRESH_EXPIRATION_MS=your-refresh-expriration-ms
JWT_REFRESH_COOKIE_NAME=your-refresh-cookie-name
JWT_REFRESH_COOKIE_SECURE=your-refresh-cookie-secure

# Email Service (SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=xyz@gmail.com
MAIL_PASSWORD=your-password
MAIL_SMTP_AUTH=true
MAIL_STARTTLS=true

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-name
CLOUDINARY_API_KEY=your-key
CLOUDINARY_API_SECRET=your-secret

# Base URL Configuration
APP_BASE_URL=your-base-url
APP_FRONTEND_BASE_URL=your-base-production-url

#PAYOS
PAYOS_CLIENT_ID=your-client-id
PAYOS_API_KEY=your-api-key
PAYOS_CHECKSUM_KEY=your-checksum-key

#GEMINI AI
GEMINI_API_KEY=your-key-api
GEMINI_API_URL=your-url-api
